<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Quality Monitoring</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <style>
        .odd-row {
            background-color: #ffffff;
        }

        .even-row {
            background-color: #f9fafb;
        }

        .odd-row:hover,
        .even-row:hover {
            background-color: #f3f4f6;
            /* Lighter hover effect */
        }

        th {
            padding: 6px;
            font-weight: bold;
        }

        td {
            border-color: rgb(238, 235, 235);
            border-width: 1px;
            padding: 2px;
        }
    </style>
</head>

<body>
    <div class="max-w-7xl mx-auto p-6 md:p-10 lg:p-8 bg-white shadow-xl rounded-2xl my-2 border border-gray-100">
        <!-- Main Title -->
        <h1 class="text-4xl font-extrabold  mb-6 border-b-4 border-gray-500 pb-2">
            Water Quality Monitoring
        </h1>

        <!-- Introduction -->
        <section class="mb-10">
            <h2 class="text-2xl font-bold mb-6 pb-2">
                Gumti-WSL
                </h1>
                <div id="gallery" class="grid lg:grid-cols-6 sm:grid-cols-2 gap-4">
                    <div class="aspect-square overflow-hidden rounded-2xl cursor-pointer">
                        <img src="/media/water-quality-monitoring/gumti-wsl-1.jpg"
                            data-full="/media/water-quality-monitoring/gumti-wsl-1.jpg" alt="" class="rounded-2xl">
                    </div>
                    <div class="aspect-square overflow-hidden rounded-2xl cursor-pointer">
                        <img src="/media/water-quality-monitoring/gumti-wsl-2.jpg"
                            data-full="/media/water-quality-monitoring/gumti-wsl-2.jpg" alt="" class="rounded-2xl">
                    </div>
                    <div class="aspect-square overflow-hidden rounded-2xl cursor-pointer">
                        <img src="/media/water-quality-monitoring/gumti-wsl-3.jpg"
                            data-full="/media/water-quality-monitoring/gumti-wsl-3.jpg" alt="" class="rounded-2xl">
                    </div>
                    <div class="aspect-square overflow-hidden rounded-2xl cursor-pointer">
                        <img src="/media/water-quality-monitoring/gumti-wsl-4.jpg"
                            data-full="/media/water-quality-monitoring/gumti-wsl-4.jpg" alt="" class="rounded-2xl">
                    </div>

                </div>
        </section>
        <section class="mb-10">
            <h2 class="text-2xl font-bold mb-6 pb-2">
                Sepahijala
                </h1>
                <div id="gallery" class="grid lg:grid-cols-6 sm:grid-cols-2 gap-4">
                    <div class="aspect-square overflow-hidden rounded-2xl cursor-pointer">
                        <img src="/media/water-quality-monitoring/sepahijala-1.jpg"
                            data-full="/media/water-quality-monitoring/sepahijala-1.jpg" alt="" class="rounded-2xl">
                    </div>
                    <div class="aspect-square overflow-hidden rounded-2xl cursor-pointer">
                        <img src="/media/water-quality-monitoring/sepahijala-2.jpg"
                            data-full="/media/water-quality-monitoring/sepahijala-2.jpg" alt="" class="rounded-2xl">
                    </div>
                    <div class="aspect-square overflow-hidden rounded-2xl cursor-pointer">
                        <img src="/media/water-quality-monitoring/sepahijala-3.jpg"
                            data-full="/media/water-quality-monitoring/sepahijala-3.jpg" alt="" class="rounded-2xl">
                    </div>
                    <div class="aspect-square overflow-hidden rounded-2xl cursor-pointer">
                        <img src="/media/water-quality-monitoring/sepahijala-4.jpg"
                            data-full="/media/water-quality-monitoring/sepahijala-4.jpg" alt="" class="rounded-2xl">
                    </div>
                    <div class="aspect-square overflow-hidden rounded-2xl cursor-pointer">
                        <img src="/media/water-quality-monitoring/sepahijala-5.jpg"
                            data-full="/media/water-quality-monitoring/sepahijala-5.jpg" alt="" class="rounded-2xl">
                    </div>
                </div>
        </section>

        <!-- Lightbox -->
        <div id="lightbox" class="fixed inset-0 bg-black bg-opacity-90 hidden justify-center items-center z-50"><button
                onclick="closeLightbox()" class="absolute top-6 right-8 text-white text-3xl font-bold">&times;</button>
            <button onclick="prevImage()"
                class="absolute left-4 top-1/2 transform -translate-y-1/2 text-white text-4xl">❮</button>
            <img id="lightbox-img" alt="Large" class="max-w-full max-h-[80vh] rounded-lg shadow-lg"> <button
                onclick="nextImage()"
                class="absolute right-4 top-1/2 transform -translate-y-1/2 text-white text-4xl">❯</button>
        </div>
    </div>
</body>

</html>