<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livestock</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <style>
        .odd-row {
            background-color: #ffffff;
        }

        .even-row {
            background-color: #f9fafb;
        }

        .odd-row:hover,
        .even-row:hover {
            background-color: #f3f4f6;
            /* Lighter hover effect */
        }

        th {
            padding: 6px;
            font-weight: bold;
        }

        td {
            border-color: rgb(238, 235, 235);
            border-width: 1px;
            padding: 2px;
        }
    </style>
</head>

<body>
    <div class="max-w-7xl mx-auto p-6 md:p-10 lg:p-8 bg-white shadow-xl rounded-2xl my-2 border border-gray-100">
        <!-- Main Title -->
        <h1 class="text-4xl font-extrabold  mb-6 border-b-4 border-gray-500 pb-2">
            Livestock
        </h1>

        <!-- Introduction -->
        <section class="mb-10">
            <p class=" text-justify text-lg mb-4">
                Livestock-based livelihood interventions under the Tripura SCATFORM Project are a sustainable,
                inclusive, and practical approach to rural development. By aligning animal husbandry with natural
                resource management, the project ensures that economic development does not come at the cost of
                ecological degradation. Instead, it promotes a holistic model of forest-dependent community upliftment
                and environmental sustainability.
            </p>
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">
                Objectives of Livestock Activities in SCATFORM
            </h2>
            <ul class="ml-10 list-disc">
                <li>
                    Reduce over-dependence on forest-based income (e.g., firewood, timber, NTFP collection)
                </li>
                <li>
                    Improve food and nutritional security through milk, meat, and poultry products
                </li>
                <li>
                    Empower Self-Help Groups (SHGs) and JFMC members, especially women
                </li>
            </ul>
        </section>
    </div>
</body>

</html>