<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forestry Integrated Geospatial Solution</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <style>
        .odd-row {
            background-color: #ffffff;
        }

        .even-row {
            background-color: #f9fafb;
        }

        .odd-row:hover,
        .even-row:hover {
            background-color: #f3f4f6;
            /* Lighter hover effect */
        }

        th {
            padding: 6px;
            font-weight: bold;
        }

        td {
            border-color: rgb(238, 235, 235);
            border-width: 1px;
            padding: 2px;
        }
    </style>
</head>

<body>
    <div class="max-w-7xl mx-auto p-6 md:p-10 lg:p-8 bg-white shadow-xl rounded-2xl my-2 border border-gray-100">
        <!-- Main Title -->
        <h1 class="text-4xl font-extrabold  mb-6 border-b-4 border-gray-500 pb-2">
            Forestry Integrated Geospatial Solution
        </h1>

        <!-- Introduction -->
        <section class="mb-10">
            <p class=" text-justify text-lg mb-4">
                Tripura JICA SCATFORM Project aims to improve forest quality in the targeted catchment areas where the
                focus on catchment protection is through sustainable forest management, soil moisture conservation and
                livelihood development. For effective planning, monitoring, management and reporting of the project
                activities as well alignment these activities across the department.
            </p>
            <p class=" text-justify text-lg mb-4">
                PMU-SCATFORM has signed a 5-year contract with M/S NeoGeoInfo Technologies Pvt Ltd to Design, Develop
                and Maintain Forestry Integrated Geospatial Solution (FIGS) which is a spatially smart system to ensure
                holistic decision making.
            </p>
            <p class=" text-justify text-lg mb-4">
                The FIGS system provides an end-to-end geospatial solution for the decision making to ensure improved
                forest quality with focus on catchment protection through afforestation, soil and moisture conservation
                and nature-based livelihood development. The FIGS system solutions and applications focus includes
                regular management and monitoring of afforestation, plantation, soil moisture conservation works,
                nursery management, biodiversity changes, biophysical changes, livelihood, agroforestry as well as
                alignment with the routine activities of the forest department for working plan management, forest fire
                monitoring, shifting cultivation monitoring, encroachment and illegal felling monitoring.
            </p>
            <p class=" text-justify text-lg mb-4">
                The Overall task includes preparation of BFBP, creation of spatial data inputs, using remote sensing and
                mapping, developing requisite solutions and applications for different forestry works for the project
                and the department integrated with MIS and existing GIS and Non- GIS Systems of Forest Department.
            </p>
        </section>
    </div>
</body>

</html>