<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <style>
        .odd-row {
            background-color: #ffffff;
        }

        .even-row {
            background-color: #f9fafb;
        }

        .odd-row:hover,
        .even-row:hover {
            background-color: #f3f4f6;
            /* Lighter hover effect */
        }

        th {
            padding: 6px;
            font-weight: bold;
        }

        td {
            border-color: rgb(238, 235, 235);
            border-width: 1px;
            padding: 2px;
        }
    </style>
</head>

<body>
    <div class="max-w-7xl mx-auto p-6 md:p-10 lg:p-8 bg-white shadow-xl rounded-2xl my-2 border border-gray-100">
        <!-- Main Title -->
        <h1 class="text-4xl font-extrabold  mb-6 border-b-4 border-gray-500 pb-2">
            Nursery
        </h1>

        <!-- Introduction -->
        <section class="mb-10">
            <p class=" text-justify text-lg mb-4">
                Nurseries play a foundational role in sustainable forest management (SFM) by providing healthy,
                high-quality seedlings needed for forest restoration, reforestation, and plantation development. Without
                nurseries, large-scale and long-term forest regeneration efforts would not be possible.
            </p>
            <p class="text-justify text-lg mb-4">
                The role of nurseries in the SCATFORM Project is not just technical but transformational. They form the
                backbone of plantation and ecological restoration activities, while also acting as tools for community
                empowerment and sustainable development. Through well-managed nurseries, the project ensures long-term
                forest sustainability, community participation, and climate resilience across Tripura's forested
                landscapes.
            </p>
            <p class=" text-justify text-lg mb-4">
                The project has the objective to make available of seedlings for plantation, ecological restoration and
                community involvement to address above these the nursery activities have been divided in 3 categories:
            </p>
            <p class="text-justify text-lg mb-4">
            <ul class="ml-10 list-disc">
                <li>High- tech nursery (HTN) </li>
                <li>Central Nursery (CN)</li>
                <li>Decentralized peoples Nursery (DCPN)</li>
            </ul>
            </p>
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">
                Objective of Hi-Tech Nursery
            </h2>
            <ul class="ml-10 list-disc">
                <li>
                    Production of the highest quality seedlings and other plant propagule, especially seedlings of
                    species requiring intensive care such as some bamboo and cane species with the help of advanced
                    technology.
                </li>
                <li>
                    Research on propagation methods of difficult but economically important plants.
                </li>
                <li>
                    Standardization of propagation methodology of rare/endangered/threatened plant species.
                </li>
            </ul>
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">
                Milestones
            </h2>
            <p class=" text-justify text-lg mb-4">
                In the project 3 nos. Hi-tech Nurseries have been developed in 3 different districts namely North
                Tripura, West Tripura & Gomati. These nurseries are focused on the identification, propagation, and
                conservation of endangered and threatened plant species.
            </p>
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">
                Objective of Central Nursery
            </h2>
            <p class="text-justify text-lg mb-4">
                The specific objective to develop the CN is to improving existing nurseries (central nurseries of the
                state) is to produce a large number of seedlings with reliable quality for establishment of plantation
                under the project.
            </p>
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">
                Milestones
            </h2>
            <p class="text-justify text-lg mb-4">
                Seven nos of CN have been established during this project period throughout the different district.
                Names are South, Sepahijala, khowai, Dhalai, Unakoti & North.
            </p>
        </section>

        <section class="mb-10">
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">
                Details of Nursery Created under Tripura SCATFORM Project.
            </h2>
            <div class="mb-4 overflow-x-auto">
                <table id="datatable" class="text-gray-800 min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th>Sl No</td>
                            <th>Nursery Type</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Photo</th>
                            <th>Stock Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="mb-10">
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">
                Details of DCPN Created under Tripura SCATFORM Project.
            </h2>
            <div class="mb-4 overflow-x-auto">
                <table id="datatable1" class="text-gray-800 min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th>Sl No</td>
                            <th>Name</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>

</html>