<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <style>
        .odd-row {
            background-color: #ffffff;
        }

        .even-row {
            background-color: #f9fafb;
        }

        .odd-row:hover,
        .even-row:hover {
            background-color: #f3f4f6;
            /* Lighter hover effect */
        }

        th {
            padding: 6px;
            font-weight: bold;
        }

        td {
            border-color: rgb(238, 235, 235);
            border-width: 1px;
            padding: 2px;
        }
    </style>
</head>

<body>
    <div class="max-w-7xl mx-auto p-6 md:p-10 lg:p-8 bg-white shadow-xl rounded-2xl my-2 border border-gray-100">
        <!-- Main Title -->
        <h1 class="text-4xl font-extrabold  mb-6 border-b-4 border-gray-500 pb-2">Plantation</h1>
        <!-- Introduction -->
        <section class="mb-10">
            <p class=" text-justify text-lg mb-4">Plantations under the Tripura SCATFORM Project are not just about tree
                planting &mdash; they are a holistic tool for ecosystem regeneration, climate action, and inclusive
                development. By promoting community-based, ecologically sound, and economically beneficial plantation
                models, the project strengthens the foundation of Sustainable Forest Management (SFM) in Tripura.</p>
        </section>
        <section class="mb-10">
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">Below graph shows the details of plantation activity
                carried out across different districts</h2>
            <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
                <div><img
                        src="http://183.82.114.29:8000/media/tinymce/496dc14c-5253-491d-a9aa-238e3b8dad15_area-in-hectare.png"
                        width="600" height="379" alt=""></div>
                <div class="right-4"><img
                        src="http://183.82.114.29:8000/media/tinymce/85bee584-aa38-417e-886f-65eda4b748dd_type-of-plantation.png"
                        width="601" height="385" alt=""></div>
            </div>
        </section>
        <section class="mb-10">
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">Different types of Plantation Models:</h2>
            <ul class="ml-10">
                <li><span class="font-bold">Artificial Regeneration (AR) with mixed species:</span> 1100 plants per
                    hectare, in abandoned jhum sites where tree canopy density is less than 20% and where no teak stumps
                    or seeds trees are available. The sites chosen must be within a distance of 5km from village. Need
                    and choice of local villagers (JFMC) will be taken into account for deciding the species to be
                    planted.</li>
                <li><span class="font-bold">Aided Natural Regeneration (ANR) with mixed species:</span> 200 plants per
                    hectare, in lower catchment where tree canopy density is less than 20% and where teak stumps or seed
                    trees or bamboo rhizomes are not available on the site. The site is chosen within a distance of 5 km
                    village. Species has been planted as per the need and choice of local villagers (JFMC).</li>
                <li><span class="font-bold">Teak Plantation Management:</span> 200 plants per hectare, in existing
                    degraded teak plantations, where tree canopy density is more than 20% and where teak stumps or seed
                    are available on the site. The chosen site are within a distance of 5 km from village. Species has
                    been planted as per the need and choice of local villagers (JFMC).</li>
            </ul>
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">Project target</h2>
            <ul class="ml-10">
                <li><span class="font-bold">Silvi-pastoral plantation:</span> 400 seedlings per hectare, near villages /
                    settlements, where tree canopy density is less than 20%. The chosen sites are within a distance of
                    2-3 km from village. Species has been planted as per the fodder need and choice of local villagers
                    (JFMC).</li>
                <li><span class="font-bold">Filter strip &amp; River bank Plantation:</span> Filter strip will be
                    developed on either side of streams/ chars, in flat area (up to 15% slope allowed), next to
                    agricultural land/eroded areas. River bank Plantation will be carried out on eroded banks vulnerable
                    to erosion on either side of the streams/chars. Existence of residential areas and agricultural land
                    along the riverside is a pre-requisite for taking up riverbank plantation.</li>
            </ul>
        </section>
        <section class="mb-10">
            <h2 class="text-2xl md:text-3xl font-bold mb-2 mt-4">Details of Plantation done in Tripura SCATFORM Project
            </h2>
            <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
                <div>Image 1</div>
                <div class="right-4">Image 2</div>
            </div>
        </section>
    </div>
</body>

</html>